<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Fichier de test JS</title>
</head>

<body>
  <p>resultat de mon projet</p>
</body>

<script type="text/javascript" src="script_2.js"></script>



</html>
<h1>Welcome#factorielle</h1>
<p>Find me in app/views/welcome/factorielle.html.erb</p>
